<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="author" content="Justin">
    <meta name="description" content={% block meta_description %}"编程问题"{% endblock %}>
    <meta name="keywords" content={% block meta_keywords %}"bug,windows,linux,mac,html,python,c,java,php,mysql"{% endblock %}>

    <title>{% block title %}{% endblock %} - 栈溢出</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico"%}"/>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/self-defined.css" %}" rel="stylesheet">

    <!-- Include upvote widget, 1.css (all file store in /static/lib direcotry)-->
    <link href="{% static "lib/jquery.upvote.css" %}" rel="stylesheet">

    <!-- 百度网站统计脚本 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?b3d5085be3bd02d9208528f15ea7d307";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

  </head>
  <body>
    <!-- Navigation（顶部导航栏） -->
    {% include "ctl_nav_top.html" %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- 主题部分 -->
            <div class="col-md-9">
                <!-- main content -->
                {% block main_content %}
                <h3 class="page-header">标题<small>描述</small></h3>
                <p>页面主体</p>
                {% endblock %}
                <hr />

                <!-- Pager（分页按钮占位符） -->
                {% block pager %}
                {% endblock %}

                <!-- 添加AD控件 -->
                {% include "ctl_sub_ad_leftbottom.html" %}
            </div>

            <!-- 右侧控件 -->
            <div class="col-md-3">
                <!-- Blog Search Well -->
                <div class="well" style="display:none">
                    <h4>问题没解决? 修改关键词再试试</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                搜索
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>常用标签</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Linux</a>
                                </li>
                                <li><a href="#">Java</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Python</a>
                                </li>
                                <li><a href="#">MySQL</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>
                        questioner - <strong>
                        {% block side_author_name %}
                        作者
                        {% endblock %}
                        </strong>
                    </h4>
                    {% block side_author_aboutme %}
                    <p>作者描述</p>
                    {% endblock %}
                </div>
                <!-- 添加AD控件 -->
                {% include "ctl_sub_ad_rightbottom.html" %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- /.row -->
    <hr>

    <!-- Footer（底部页脚） -->
    {% include "ctl_footer_bottom.html" %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Include upvote widget, 2.js-->
    <script src="{% static "lib/jquery.upvote.js" %}"></script>

  </body>
</html>
