<footer>
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center">
                <a href="#"><font color="gray">站点地图</font></a>&nbsp;
                <a href="#"><font color="gray">条款</font></a>&nbsp;
                <a href="#"><font color="gray">反馈</font></a>&nbsp;
                <a href="http://www.miibeian.gov.cn/"><font color="gray">京ICP证000000号</font></a><img width="13" height="16" data-loadfunc="1" src="https://ss0.bdstatic.com/5a21bjqh_Q23odCf/static/superplus/img/copy_rignt_24.png" data-loaded="1">&nbsp;
            </p>
            <p class="text-center">Copyright &copy; 栈溢出 2015</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>
