{% extends "base.html" %}
{% load staticfiles %}

{# 设置SEO description #}
{% block meta_description %}"problem solution"{% endblock %}

{# 设置SEO keywords #}
{% block meta_keywords %}"question,answer"{% endblock %}

{# 设置网页标题 #}
{% block title%}{{ question.title }}{% endblock %}

{# 设置顶部导航栏激活标签 #}
{% block nav_question_li %}class="active"{% endblock %}


{% block side_author_name %}{{ author.displayname }}{% endblock %}
{% block side_author_aboutme %}{{ author.aboutme | safe }}{% endblock %}

{% block main_content %}
    <!-- 页面标题 -->
    <h3 class="page-header">{{ question.title }}<small></small></h3>
    <img src="{% static "images/ad_left_top.jpg" %}" title="" alt="ad_left_top" class="img-thumbnail">
    
    <!-- 问题标题 -->
    <h4 class="page-header">{{ question.title }}</h4>

    <!--nesting no need <div class="container"> -->
    <div class="row">
        <div class="col-md-1">
            <!-- 赞成/反对 -->
            <!-- Include upvote widget, 3.add widget-->
            <div class="upvote">
                <a class="upvote upvote-off upvote-enabled" title="赞成"></a>
                <span class="count" title="投票数">{{ question.score }}</span>
                <a class="downvote upvote-enabled" title="反对"></a>
                <a class="star star-off upvote-enabled" title="收藏"></a>
            </div>
        </div>
        <div class="col-md-11">
            <!-- 问题答案 -->
            {{ question.body | safe }}
        </div>
    </div>

    <div>
    <p><small>标签</small></p>
    {% for tag in question.tags %}
    <a class="btn btn-primary btn-sm" href="/questions/tagged/{{ tag }}" role="button">{{ tag }}</a>
    {% endfor %}
    </div>

    <!-- 作者信息 -->
    <!--nesting no need <div class="container"> -->
    <div class="row">
        <div class="col-md-9">
            </p>
        </div>
        <div class="col-md-3">
            <div class="row" style="background-color:rgb(217,228,238);" title="{{ author.aboutme }}">
                <div class="row"><p/></div>
                <div class="col-md-3">
                    <img src="{% static "images/avatar1.png" %}" title="" alt="avatar1">
                </div>
                <div class="col-md-9">
                    <a href="{{ author.websiteurl }}"><font color="gray">{{ author.displayname }}</font></a>
                    <p title="reputation score"><font color="gray"><small><strong>{{ author.reputation }}</strong> {{ author.location }}</small></font></p>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <h4 class="page-header">最佳回答</h4>
    <div >
    {% if answer %}
        {{ answer.body | safe }}
    {% else %}
        <h4>没有最佳答案</h4>
    {% endif %}
    </div>
    <!--nesting no need <div class="container"> -->
    <div class="row">
        <div class="col-md-9">
            </p>
        </div>
        <div class="col-md-3">
            <div class="row" style="background-color:rgb(217,228,238);" title="{{ answerer.aboutme }}">
                <div class="row"><p/></div>
                <div class="col-md-3">
                    <img src="{% static "images/avatar1.png" %}" title="" alt="avatar1">
                </div>
                <div class="col-md-9">
                    <a href="{{ answerer.websiteurl }}"><font color="gray">{{ answerer.displayname }}</font></a>
                    <p title="reputation score"><font color="gray"><small><strong>{{ answerer.reputation }}</strong> {{ answerer.location }}</small></font></p>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <br>
    <img src="{% static "images/ad_left_middle.jpg" %}" title="" alt="ad_left_top" class="img-thumbnail">

    {% comment %}
    <h4 class="page-header">所有回答</h4>
    <div >
    {% if answer %}
        {{ answer.body | safe }}
    {% else %}
        <h4>没有最佳答案</h4>
    {% endif %}
    </div>
    {% endcomment %}

{% endblock %}

